<!DOCTYPE html>
<html>
  <head>
    <title>ゴラッソ!サッカーあるある</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="wrapper">

      <header>
        <div class="header-logo">
          <h1>
            <a><%= link_to 'TOP', root_path, :style=>"color:white;" %></a>
          </h1>
        </div>
          <a class="header-text"><%= link_to 'みんなのサッカーあるある', tweets_path, :style=>"color:white; font-size:16px; font-weight:bold;" %></a>
          <a class="header-text"><%= link_to 'サッカーあるあるをつぶやく', new_tweet_path, :style=>"color:white; font-size:16px; font-weight:bold;" %></a>
      </header>

    <%= yield %>

  <footer>
    <p>© 2019 KENTA CORPORATION.(Test Application)</p>
  </footer>

    </div>
  </body>
</html>
